<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
    <body>
        <header>
            <h1 (click)="home()">Gaming Portal 🎮 </h1>
        </header>

        <div class="container">
            <div class="search-bar">
             <input placeholder="Pesquisar..." type="text"/>
            </div>
        </div>

        <div class="container">
            <div class="video-container">
                <video controls>
                    <source src="assets/videos/dancandotf2.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="video-description">
                    <h2>DANÇANDO NO TF2</h2>
                    <p>O PESSOAL DANÇANDO KKKKKKKKKKK</p>
                    <p>Visualizações: <span id="viewCount">15.000</span></p>
                    
                </div>
                
            </div>
        </div>
    </body>

    <footer>
        <p>
         © Matheus Cajaiba
        </p>
    </footer>

</html>

