.main {
    
    height: 100%;
    margin: 0;
    min-height: 100vh;
    background: #333;
    padding: 20px;
    display: block;
    justify-content: center;
    align-items: center;

}

.caixa{

    background-color: rgb(255, 255, 255);
    padding: 5%;
    margin-top: 25vh;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 50px;
    justify-content: center;
    align-self: center;

}

h1{
    justify-content: left;
    align-self: center;
    display: flex;
    color: rgb(52, 0, 28);
}

#botão{

    background-color: rgb(165, 0, 165);
    border-color: rgb(255, 0, 255);
    align-self: center;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 20px;

}
    