<app-header></app-header>

<div class="main">
  
  <div class="container">

    <h1>📝 Lista de Compras 🛒</h1>

    <hr>

    <form (ngSubmit)="naLista(ListaForm)" #ListaForm="ngForm">
        <div class="form-group">
            <label for="item">Item de compra:</label>
            <input type="text" class="form-control" id="item" placeholder="Digite um item..." ngModel name="item" required>
            <small *ngIf="ListaForm.invalid && ListaForm.dirty" id="mensagemErro" class="avisoErro">Precisa digitar um item</small>
        </div>
        <button id="adicionarItem" type="submit" class="btn btn-primary" [disabled]="ListaForm.invalid">Adicionar</button>
    </form>

    <hr>

    <h3>Itens para comprar 💰</h3>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Item 📌</th>
          <th scope="col">Comprado 💲</th>
          <th scope="col">Deletar 🗑</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of listaArray; index as i">
          <td>{{item.title}}</td>
          <td>
            <input [(ngModel)]="item.included" (change)="completado(item, i, false)" type="checkbox">
          </td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="deletarDaLista(i)">Deletar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <h3>Comprados ✅</h3>

    <table id="completados" class="table">
      <thead>
        <tr>
          <th scope="col">Item 📌</th>
          <th scope="col">Comprado 💲</th>
          <th scope="col">Deletar 🗑</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of itemCompletado; index as i">
          <td>{{item.title}}</td>
          <td>
            <input [(ngModel)]="item.included" (change)="completado(item, i, true)" type="checkbox">
          </td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="deletarCompletado(i)">Deletar</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
