<div class="main">

    <div class="caixa">

        <div class="px-4 py-5 my-5 text-center">

            <img class="d-block mx-auto mb-4" src="https://cdn-icons-png.flaticon.com/512/2611/2611215.png" alt="" width="72" height="57">

            <h1 class="display-5 fw-bold text-body-emphasis">Lista de Compras</h1>

            <div class="col-lg-6 mx-auto">

            <p class="lead mb-4">Bem vindo à lista de compras!!</p>

            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

                <button type="button" class="btn btn-primary btn-lg px-4 gap-3" (click)="lista()">Acessar Lista</button>
                
            </div>

            </div>

        </div>

    </div>  

</div>