<!DOCTYPE html>
<html lang="en">
<body>
    <header>
     <h1>
        Gaming Portal 🎮
     </h1>
    </header>

    <div class="container">
        <div class="search-bar">
         <input placeholder="Pesquisar..." type="text"/>
        </div>
    </div>

    <div class="container">
     <div class="video-grid">
      <div class="video-card ">
        <img [src]="'assets/thumbnails/dancandotf2.png'" alt="Descrição da imagem" height="169" width="300" (click)="tf2danca()">
       <div class="content">
        <h3>
         DANÇANDO NO TF2
        </h3>
        <p>
         O PESSOAL DANÇANDO KKKKKKKKKKK
        </p>
       </div>
      </div>
      <div class="video-card">
        <img [src]="'assets/thumbnails/TF2eOverwatch.png'" alt="Descrição da imagem" height="169" width="300" (click)="TF2eOverwatch()">
       <div class="content">
        <h3>
         TF2 E OVERWATCH
        </h3>
        <p>
         OVERWATCH HAS MORE ATTENTION THAN TF2
        </p>
       </div>
      </div>
      <div class="video-card">
        <img [src]="'assets/thumbnails/NeverGonnaGiveYouUp.png'" alt="Descrição da imagem" height="169" width="300" (click)="rickastley()">
       <div class="content">
        <h3>
         NEVER GONNA GIVE YOU UP
        </h3>
        <p>
         RICK ASTLEY
        </p>
       </div>
      </div>
     </div>
    </div>
    <footer>
     <p>
      © Matheus Cajaiba
     </p>
    </footer>
   </body>
  </html>  